{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
					
				</tr>
				{%for ord in orders%}
					<tr>
						<td>{{ord.product}}	</td>
						<td>{{ord.note}}</td>
						<td>{{ord.date_created}}</td>
						<td>{{ord.status}}</td>
						
					</tr>
				{%endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}